.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.navIcons>img{
    width: 1.3rem;
    height: 1.3rem;
}
.navIcons>a>img{
    width: 1.3rem;
    height: 1.3rem;
}
.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}
@media (min-width: 768px) {
    .RightSide {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }